################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LocalChatApp/obj
/LocalChatApp/bin/Debug/net8.0-windows
